.ins {
  background: #6a11cb;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(
    to right,
    rgba(106, 17, 203, 1),
    rgba(37, 117, 252, 1)
  );
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(
    to right,
    rgba(106, 17, 203, 1),
    rgba(37, 117, 252, 1)
  );
}

.quiz-instructions {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#icard {
  border-radius: 15px;
}

.card-body {
  padding: 3rem;
}

ul {
  text-align: left;
  padding-left: 2rem;
}

@media (max-width: 576px) {
  .card-body {
    padding: 1.5rem;
  }

  ul {
    padding-left: 1rem;
  }
}
